<!-- Modal -->
<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="modalAddLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-normal" id="modalAddLabel">Edit Ability</h5>
        <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/admin/ability?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="modal-body">
          <div class="input-group input-group-dynamic mb-4 focus is-focused">
            <label class="form-label">Name</label>
            <input type="text" name="name" class="form-control" required>
            <input type="hidden" name="id">
          </div>
          <div class="input-group input-group-static mb-4">
            <label for="Icon">Icon</label>
            <input class="form-control" type="file" name="image" id="icon">
            <span class="text-xs">Browse for change icon.</span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn bg-gradient-primary">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>